*{
  margin: 0;
}
body {
  padding-bottom: 200px;
}
.title {
  background-color: #000;
  padding: 0 10px;
}
.title h1{
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px 0px;
  color: #fff;
}
.main {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1000px;
}
.intro {
  margin-top: 20px;
  font-size: 15px;
  color: #333;
  line-height: 3;
}
.intro h4 {
  margin-top: 10px;
  padding-left: 15px;
  font-size: 15px;
  border-left: 3px solid #333;
  background-color: #fcfcfc;
}
.list {
  max-width: 500px;
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
h2 {
  margin-top: 15px;
  font-size: 15px;
}
@media screen and (max-width: 500px) {
  .list div {
    font-size: 12px;
    flex: 0 0 20vw;
    height: 20vw;
  }
}

.time {
  font-size: 30px;
  font-weight: 100;
  width: 660px;
  text-align: center;
}

.game {
  width: 620px;
  height: 470px;
  padding: 20px;
  display: flex;
  position: relative;
}
.game > .pointer {
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(12px,12px);
  width: 150px;
  height: 150px;
  border: 8px solid red;
}
.game > .control {
  flex: 0 0 150px;
  height: 470px;
  margin-right: 8px;
}
.game > .control > div {
  margin-bottom: 8px;
  width: 150px;
  height: 150px;
  flex: 0 0 150px;
  text-align: center;
  line-height: 150px;
  font-size: 20px;
  font-weight: 100;
  box-shadow: 0px 0px 8px rgba(0,0,0,.5);
}
.game > .area {
  position: relative;
  height: 470px;
  transition: opacity 0.5s;
}

.game > .area > div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 150px;
  box-shadow: 3px 3px 4px rgba(0,0,0,.5);
  background-image: url('../images/animal.png');
  background-size: 300% 300%;
  transition: transform 1s;
}
.game > .area > div.hide {
  opacity: 0;
}
.game > .area > div:nth-child(1) {
  background-position: 0px 0px;
  transform: translate3d(0px, 0px, 0px);
}
.game > .area > div:nth-child(2) {
  background-position: -150px 0px;
  transform: translate3d(158px, 0px, 0px);
}
.game > .area > div:nth-child(3) {
  background-position: -300px 0px;
  transform: translate3d(316px, 0px, 0px);
}
.game > .area > div:nth-child(4) {
  background-position: 0px -150px;
  transform: translate3d(0px, 158px, 0px);
}
.game > .area > div:nth-child(5) {
  background-position: -150px -150px;
  transform: translate3d(158px, 158px, 0px);
}
.game > .area > div:nth-child(6) {
  background-position: -300px -150px;
  transform: translate3d(316px, 158px, 0px);
}
.game > .area > div:nth-child(7) {
  background-position: 0px -300px;
  transform: translate3d(0px, 316px, 0px);
}
.game > .area > div:nth-child(8) {
  background-position: -150px -300px;
  transform: translate3d(158px, 316px, 0px);
}
.game > .area > div:nth-child(9) {
  opacity: 0.5;
  background-position: -300px -300px;
  transform: translate3d(316px, 316px, 0px);
}